nav{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
       color: rgb(139, 9, 9);
}
h1 {
    color: rgb(139, 9, 9); /* sakura sushi */
}
 h1 {
    color: rgb(0, 0, 0); /* menu */
}
